/* @copyright Copyright 2023 CRAZY DIAMOND PTE LTD. All rights reserved. */
/* @see Crazy Diamond: https://github.com/CrazyDiamondGarage */
/* @see GenWorld: https://genworld.io/ */
/* @author endaye */

.header {
  position: fixed;
  top: 0;
  z-index: 100;

  background-color: magenta;

  background: rgba(0, 0, 0, 0.1);
  background-blend-mode: soft-light;
  backdrop-filter: blur(24px);
  height: calc(84px * var(--zoom));
  width: 100%;
}

.header-container {
  height: 100%;
  margin: 0 calc(150px * var(--zoom));

  /* background-color: mediumaquamarine; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  position: relative;
  margin-top: calc(8px * var(--zoom));
  height: calc(42px * var(--zoom));
}

.header-space {
  flex-grow: 2;
}

.header-social {
  display: flex;
  flex-direction: row;

  padding: calc(21px * var(--zoom)) calc(16px * var(--zoom));
  align-items: center;
  gap: calc(12px * var(--zoom));
  text-decoration: none;
}

.header-social h4 {
  color: #fff;
  font-size: calc(28px * var(--zoom));
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 25.6px */
}

.header-social h5 {
  color: #fff;
  font-size: calc(24px * var(--zoom));
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 25.6px */
}

@media screen and (min-width: 1601px) {
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .header-container {
    margin: 0 20px;
  }

  .header-social h5 {
    display: none;
  }
}
