/* @copyright Copyright 2023 CRAZY DIAMOND PTE LTD. All rights reserved. */
/* @see Crazy Diamond: https://github.com/CrazyDiamondGarage */
/* @see GenWorld: https://genworld.io/ */
/* @author endaye */

.footer {
  position: fixed;
  bottom: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 80%; /* 19.2px */
}
