/**
 * @copyright Copyright 2023 CRAZY DIAMOND PTE LTD. All rights reserved.
 * @see Crazy Diamond: https://github.com/CrazyDiamondGarage
 * @see GenWorld: https://genworld.io/
 * @author endaye
 */

#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-color: #0f0; */
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -200%;
  right: -200%;
  min-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  scale: 1.2;
}

.cards {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 50%;
  /* background-color: tomato;  */
  margin: auto;
  width: 720px;
  height: 720px;
  cursor: pointer;
}

.card {
  position: absolute !important;
  right: 0;
  top: 0;
  border-radius: 24px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 72px 0px rgba(0, 0, 0, 0.7), 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
  will-change: transform;
  transition: transform 0.5s ease;
}

.titles {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 56%;
  margin: auto;
  padding: auto;
  padding-top: 5%;
  height: 720px;
  text-align: left !important;
  cursor: default;
  /* background-color: tomato; */
}

.titles h2 {
  border-radius: 12px;
  background: #000;
  padding-left: 20px;
  color: #fff;
  font-size: 56px;
  font-weight: 500;
  line-height: 100%;
  width: fit-content !important;
  margin: 20px 0;
}

.titles h1 {
  border-radius: 12px;
  background: #000;
  padding-left: 20px;
  color: #fff;
  font-size: 72px;
  font-weight: 500;
  line-height: 100%;
  text-align: left !important;
  width: fit-content !important;
  margin: 20px 0;
}

.card-gradient-0 {
  background: linear-gradient(90deg, #0ff 0%, #0f0 100%);
}

.card-gradient-1 {
  background: linear-gradient(90deg, #fd93ff 0%, #56ffff 100%);
}

.card-gradient-2 {
  background: linear-gradient(90deg, #ffde9d 0%, #0ff 100%);
}

.card-gradient-3 {
  background: linear-gradient(90deg, #ffd493 0%, #ff5656 100%);
}

.card-gradient-4 {
  background: linear-gradient(90deg, #fc70ff 0%, #ffd056 100%);
}

.card-slogan {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blink {
  animation: blinker 0.5s linear infinite;
  font-weight: 700;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.sub-title {
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 200%;
  width: fit-content !important;
  margin-top: 40px;
  border-radius: 12px;
}

.btc-play {
  color: rgba(255, 255, 255, 0.4);
  font-size: 48px;
  font-weight: 400;
  line-height: 150%;
  width: fit-content !important;
  margin-top: 60px;
  padding: 16px 36px;
  cursor: not-allowed;
  border-radius: 24px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(4px);
}

@media screen and (min-width: 1441px) {
  :root {
    zoom: 0.8;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  :root {
    zoom: 0.6;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    zoom: 0.4;
  }
}

@media screen and (max-width: 768px) {
  :root {
    zoom: 0.5;
  }

  .cards {
    display: none;
  }

  .titles {
    left: 0;
    right: 0;
    width: 88%;
  }
}
