/**
 * @copyright Copyright 2023 CRAZY DIAMOND PTE LTD. All rights reserved.
 * @see Crazy Diamond: https://github.com/CrazyDiamondGarage
 * @see GenWorld: https://genworld.io/
 * @author endaye
 */

#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

#bg-front {
  min-width: 100vw;
  min-height: 100vh;
}
