@font-face {
  font-family: "zpix";
  src: local("zpix"), url("/font/zpix.ttf") format("truetype");
  font-weight: bold;
}

:root {
  font-family: zpix, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: greenyellow;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #88ff64;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  display: inline-block;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
}

button {
  color: white !important;
  border-radius: 0 !important;
  border: 4px solid white !important;
  padding: 0.6em 1.2em !important;
  font-size: 1em !important;
  font-weight: 900 !important;
  font-family: inherit !important;
  background-color: #000 !important;
  cursor: pointer !important;
  transition: border-color 0.25s !important;
}
button:hover {
  border-color: greenyellow !important;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
